header.header-wrapper {
  background-color: $white;
  padding: 16px 32px;
  height: auto;
  line-height: 1;
  display: flex;
  align-items: center;

  .search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    .ant-input-affix-wrapper {
      max-width: 290px;
      padding: 0 20px 0 0;
      border-radius: 7px;
      background: $catskill-white;

      input {
        padding: 13px 0px 13px 20px;
        color: $port-gore;
        font-size: 14px;
      }
    }
  }

  .actions-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;

    .ant-dropdown-trigger {
      display: flex;
      align-items: center;
      gap: 13px;
    }
  }
}
