header.header-wrapper {
  background-color: var(--white);
  padding: 16px 32px;
  height: auto;
  line-height: 1;
  display: flex;
  align-items: center;

  .search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    .ant-input-affix-wrapper {
      border: none;
      max-width: 290px;
      padding: 0 20px 0 0;
      border-radius: 7px;
      background: var(--catskill-white);

      input {
        padding: 13px 0px 13px 20px;
        color: var(--port-gore);
        font-size: 14px;

        &::placeholder {
          color: var(--port-gore);
        }
      }
    }
  }

  .actions-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;

    .ant-dropdown-trigger {
      display: flex;
      align-items: center;
      gap: 13px;
    }
  }
}

.ant-dropdown {
  .ant-dropdown-menu-item {
    padding: 0 !important;

    .ant-dropdown-menu-title-content {
      span {
        display: block;
        padding: 10px;
      }
    }
  }
}
