.overview-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;

  .overview-chart {
    border-radius: 16px;
    background: var(--white);
    padding: 32px 30px;
    width: calc(33.33% - 24px);

    &.chart-full {
      width: 100%;
    }

    .chart-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 38px;
      border-bottom: 1px solid #e8edf1;

      h3 {
        display: flex;
        align-items: center;
        color: #8c97a8;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        gap: 16px;
        margin: 0;

        svg ellipse {
          fill: var(--catskill-white);
        }
      }

      span {
        color: var(--cod-gray);
        font-size: 22px;
        font-weight: 700;
      }
    }

    .chart {
      height: 150px;
      position: relative;

      svg {
        margin-right: 90px;
      }

      p {
        text-wrap: nowrap;
        color: #768396;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        span {
          color: #299702;
          font-weight: 700;
          margin-left: 60px;
        }
      }

      .MuiChartsAxis-directionX,
      .MuiChartsAxis-directionY {
        display: none;
      }
    }
  }
}
