.task-container {
  .title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .boards-wrapper {
    display: flex;
    gap: 16px;
    max-height: calc(100vh - 215px);
  }
}
