.board-wrapper {
  overflow: hidden;

  .board-task-wrapper {
    overflow: auto;
    height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .board-header {
    background-color: var(--white);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    border-radius: 10px;

    p {
      color: var(--port-gore);
      font-size: 17px;
      font-weight: 500;
      margin: 0;
    }

    .actions-wrapper {
      display: flex;
      align-items: center;
      gap: 18px;

      .add-item {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--titan-white);
        border-radius: 7px;
        transition: all 0.3s;

        &:hover {
          background-color: var(--cornflower-blue);

          svg rect {
            fill: var(--titan-white);
          }
        }
      }
    }
  }
}
